.admin-body {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;

}
.footer {
    background-color: #212529;
    color: white;
}

.bg-white {
    background-color: white;
}

.custom-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}